<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>My Top Ten Inventions</title>
    <link rel="stylesheet" href="/public/css/styles.min.css">
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/vendor.min.js"></script>
</head>

<body>
    <div class="d-flex justify-content-center">
        <h1 class="text-primary" id="the-heading">My Top Ten Inventions</h1>
    </div>
    <div class="modal fade" id="wheelModal" tabindex="-1" role="dialog" aria-labelledby="wheelModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="wheelModalLongTitle">The Wheel</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    The wheel has been helping humans to increase their laziness since ancient times. Now, it requires less effort to move things around, and you use your power elsewhere, such as doing CS 554 homework assignments.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fireModal" tabindex="-1" role="dialog" aria-labelledby="fireModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="fireModalLongTitle">Fire</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    Since cavemen discovered fire in times far past, nothing has been the same. Many think it fueled the evolution from the ancient neanderthal to the modern human, through cooking increasing the nutrients present in food.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="computerModal" tabindex="-1" role="dialog" aria-labelledby="computerModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="computerModalLongTitle">The Computer</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    Computers have exponentially increased the capability of the human race and continue to do so. We can use our powers for good, such as creating AI to detect diseases, or for chaos, such as trolling online and posting memes.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="memeModal" tabindex="-1" role="dialog" aria-labelledby="memeModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="memeModalLongTitle">The Meme</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    Memes have been around since social and media and chat rooms began. They are defined as "an element of a culture or system of behavior that may be considered to be passed from one individual to another by nongenetic means, especially imitation," but have since devolved and diverged in many directions.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="gunpowderModal" tabindex="-1" role="dialog" aria-labelledby="gunpowderModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="gunpowderModalLongTitle">Gunpowder</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    Gunpowder has been allowing humans to threaten each other and go to war since countries developed it at some point in history. It has led to weapons such as guns, a sacred American right. It also has some positives, such as firework displays.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="carModal" tabindex="-1" role="dialog" aria-labelledby="carModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="carModalLongTitle">The Car</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    Cars have again allowed humans to be increasingly lazy. Although, they have also increased productivity and shortened travel time, which is nice. People can now flex their wealth through cars, but they just don't have the same appeal of a nice horse-drawn carriage.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="lightbulbModal" tabindex="-1" role="dialog" aria-labelledby="lightbulbModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="lightbulbModalLongTitle">The Lightbulb</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    Ever since Thomas Edison's great invention, the world has been illuminated in light. No longer do we have to risk burning down our homes with indoor candles, and can instead bask in the glory of the bulb. 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="steamengineModal" tabindex="-1" role="dialog" aria-labelledby="steamengineModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="steamengineModalLongTitle">The Steam Engine</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    The steam engine first allowed humans to become increasingly lazy and no longer need manual labor, to an extent. A steam engine can use coal to produce steam, which in turn pushes a turbine to generate energy.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="airplaneModal" tabindex="-1" role="dialog" aria-labelledby="airplaneModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="airplaneModalLongTitle">The Airplane</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    The Wright Brothers changed the world with the first airplane. Since then, we are now able to vacation across the globe, or bomb our enemies thousands of miles away!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="javascriptModal" tabindex="-1" role="dialog" aria-labelledby="javascriptModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="javascriptModalLongTitle">JavaScript</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <div class="modal-body">
                    JavaScript is far superior to the old, estoeric languages such as C. Now, we can not use a linter and ignore all errors and warnings, and simply brute force our programs into running. I think this is the ideal way to make a website. It's certainly what Yahoo did.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2">
                <ul>
                    <li><div class="col-sm-12"><a href="#wheel">The Wheel</a></div></li>
                    <li><div class="col-sm-12"><a href="#fire">Fire</a></div></li>
                    <li><div class="col-sm-12"><a href="#computer">The Computer</a></div></li>
                    <li><div class="col-sm-12"><a href="#meme">The Meme</a></div></li>
                    <li><div class="col-sm-12"><a href="#gunpowder">Gunpowder</a></div></li>
                    <li><div class="col-sm-12"><a href="#car">The Car</a></div></li>
                    <li><div class="col-sm-12"><a href="#lightbulb">The Lightbulb</a></div></li>
                    <li><div class="col-sm-12"><a href="#steamengine">The Steam Engine</a></div></li>
                    <li><div class="col-sm-12"><a href="#airplane">The Airplane</a></div></li>
                    <li><div class="col-sm-12"><a href="#javascript">JavaScript</a></div></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem; height: 30rem;">
                            <img class="card-img-top" src="/public/img/whl.jpg" alt="Card image cap">
                            <div id="wheel" class="card-body">
                                <h2 class="card-title">The Wheel</h2>
                                <p class="card-text">Never again did humans need to output the same levels of force with the wheel around.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wheelModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/fire.jpg" alt="Card image cap">
                            <div id="fire" class="card-body">
                                <h2 class="card-title">Fire</h2>
                                <p class="card-text">Want a light source? Want to stay warm? Want to cook food? Fire has your back.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fireModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/eniac.jpg" alt="Card image cap">
                            <div id="computer" class="card-body">
                                <h2 class="card-title">The Computer</h2>
                                <p class="card-text">We wouldn't be in the class today without this great invention.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#computerModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/meme.jpg" alt="Card image cap">
                            <div id="meme" class="card-body">
                                <h2 class="card-title">The Meme</h2>
                                <p class="card-text">A humorous infographic meant to be shared with others.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#memeModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/powder.jpg" alt="Card image cap">
                            <div id="gunpowder" class="card-body">
                                <h2 class="card-title">Gunpowder</h2>
                                <p class="card-text">The first step to achieving world domination through violence.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gunpowderModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/car.jpg" alt="Card image cap">
                            <div id="car" class="card-body">
                                <h2 class="card-title">The Car</h2>
                                <p class="card-text">Imagine having to still take a horse and buggy to school. Would be pretty stylish, though.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#carModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/bulb.jpg" alt="Card image cap">
                            <div id="lightbulb" class="card-body">
                                <h2 class="card-title">The Lightbulb</h2>
                                <p class="card-text">Scratch that fire for providing light. Now we have a bulb, to keep you from burning your house down.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lightbulbModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/JamesWattEngine.jpg" alt="Card image cap">
                            <div id="steamengine" class="card-body">
                                <h2 class="card-title">The Steam Engine</h2>
                                <p class="card-text">Back before the car, this marvelous invention gave us a way to generate power through coal!</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#steamengineModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/plane.jpg" alt="Card image cap">
                            <div id="airplane" class="card-body">
                                <h2 class="card-title">The Airplane</h2>
                                <p class="card-text">Forget the car, now you can shorten your travel time even more!</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#airplaneModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/img/js.png" alt="Card image cap">
                            <div id="javascript" class="card-body">
                                <h2 class="card-title">JavaScript</h2>
                                <p class="card-text">Forget all of those old esoteric languages. With JavaScript, you can follow whatever rules you want!</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#javascriptModal">Find out more!</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="tota11y.min.js"></script>
</body>

</html>